@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0;}
html { padding:0; margin:0;}
.bg { width:100%; clear:both; border-top:1px solid #e8e8e8; padding:0; margin:0;}
input {font-family: sans-serif;} 

/* main */
.main {min-width:1100px; padding:0; margin:0 auto; }
.resize { width:920px; margin:0 auto;}

/********** header **********/
.header {  background:url(http://cymbit.com/images/bg_header.gif) top repeat-x; height:88px; padding:0; margin:0;}

.block_header {margin:0 auto; width:910px; }
/* logo */
.logo { float: right; padding:0 70px 0 0; margin:0; width:257px;}

/* menu */
.menu { padding:0; margin:65px 0 0 0; width:400px; float:left; height:37px;}
.menu ul { padding:0; margin:0; list-style:none; border:0;}
.menu ul li { float:left; margin:0 1px 0 0; padding:0; border:0;}
.menu ul li a { float:left; border:0; margin:0; padding:13px 10px; color:#ffffff; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { color:#2d2d2d; background:#f9f9f9 url(http://cymbit.com/images/hover_menu_a.gif) top repeat-x; padding:12px 9px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-top:1px solid #e3e3e3; border-bottom:none;}
.menu ul li a.active { color:#2d2d2d; background:#f9f9f9 url(http://cymbit.com/images/hover_menu.gif) top repeat-x; padding:12px 9px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-top:1px solid #e3e3e3; border-bottom:none;}

/********** block index **********/
.body { background:#f4f4f4 url(http://cymbit.com/images/bg_simple.gif) top repeat-x; border:0; padding-top:75px; margin:0;}
.body h2 { font:bold 24px Arial, Helvetica, sans-serif; color:#2c2c2c; border-bottom:1px solid #cccccc; padding:10px 10px 10px 10px; margin:5px 0 10px 0;}
.body h3 { font:bold 20px Arial, Helvetica, sans-serif; color:#4e4e4e; padding:20px 0 0 10px; margin:0;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#8d8d8d; padding:0 10px; line-height:1.8em;}
.body_resize { width:970px; margin:0 auto; padding:0}
.body a, body a { color:#128fb4; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;}
.body a:hover, body a:hover { text-decoration:underline;}

/*Welcome*/
.Welcome { width:615px;min-height:500px;border:1px solid #e3e3e3; background:#f9f9f9; margin:0 auto; padding:10px; float:left;}
.Welcome li {line-height:1.8em; background:url(http://cymbit.com/images/ul_lu_bg.gif) left no-repeat; padding:5px 0 5px 30px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#6e6e6e;}
.Welcome li strong { color:#a63812; font:bold 11px Arial, Helvetica, sans-serif;}

/*butons*/
.butons { width:480px; margin:0 auto; padding:10px 20px; float:left;}
.butons a { font:normal 14px Arial, Helvetica, sans-serif; color:#363636; border:1px solid #e3e3e3; background:#f0f0f0; padding:2px 5px; margin:5px 5px;} 
.butons a:hover {color:#7e7e7e;}

/*Services*/
.Services { width:605px; border:1px solid #d5d5d5; background:#eeeeee; margin:5px auto; padding:10px 20px; float:left;}
.Services ul {line-height:1.8em; list-style:none; border:5px solid #e5e5e5; background:#f8f8f8; margin:20px auto 20px auto; padding:10px 10px;}
.Services li {line-height:1.8em;  padding:5px 0 5px 30px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#6e6e6e;}
.Services li strong { color:#292929; font:bold 11px Arial, Helvetica, sans-serif;}
.Services img { float:left; margin:10px 10px; padding:0;}
.Services h3 { font:normal 18px Arial, Helvetica, sans-serif; color:#2c2c2c; padding:0 0 0 20px; margin:0;}
.Services a { font:normal 12px Arial, Helvetica, sans-serif; color:#2d2d2d; background:#d8d8d8; border:1px solid #fff; text-decoration:none; text-transform:uppercase; padding:4px 4px; margin:0;}

/*BoX*/
.Box { width:300px; margin: 5px auto; padding:10px; float:right;}
/*.Box a { padding:0 0 0 20px; font: bold italic 12px Arial, Helvetica, sans-serif; color:#505050; float:right; text-decoration:none;}*/
.Box .clients { background:url(http://cymbit.com/images/bg_clients.gif) top no-repeat; padding: 5px 20px; margin:10px 0;}
.Box em { font:italic 11px Arial, Helvetica, sans-serif; color:#505050; line-height:1.8em;}
.Box .tel { font: normal 11px Arial, Helvetica, sans-serifl; color:#8d8d8d; padding:5px 20px; margin:0; line-height:1.8em;}
/*.Box img { margin:5px 5px; padding:5px 5px; float:left;}*/

/*teext*/
.teext { width:300px; margin:10px auto; padding:10px; float:right;}
.teext p { font:normal 11px Arial, Helvetica, sans-serif; color:#686868; padding:10px; margin:0; line-height:1.8em;}
.teext img { float:right; margin:5px; padding:0;}

/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#222222;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0;}
#contactform label { margin:0; width:110px; display:block; padding:5px 0; font:normal 11px Arial, Helvetica, sans-serif; color:#8d8d8d; text-transform:capitalize; float:left;}
#contactform input.text { width:95%; border:1px solid #dcdcdc; margin:5px 0; padding:5px 2px; height:16px; background:#f5f5f5;}
#contactform textarea { width:95%; border:1px solid #dcdcdc; margin:5px 0; padding:2px; background:#f5f5f5;}
#contactform li.buttons input { padding:3px 0; margin:0; border:0; color:#FFF; float:left;}
p.response { text-align:center; color:#505050; font: bold 11px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto;}

/********** footer **********/
.footer { background:#e5e5e5; padding:0; border-top:1px solid #dbdbdb; margin:0;}
.footer .resize div { padding:20px 0; float:left; width:50%; color:#8d8d8d; font:normal 11px Arial, Helvetica, sans-serif; text-align:right;}
.footer .resize div a { color:#8d8d8d; font:normal 11px Arial, Helvetica, sans-serif;}
.footer .resize div.text_left { text-align:left;}
.text_left a { padding:0 5px;}

/********** slider **********/
.slider { background:url(http://cymbit.com/images/screen_bg_panel.gif) no-repeat bottom; height:293px;}
.slider img { padding:0; margin:0; border:0; float:none;}
.slider .desc { background:url(http://cymbit.com/images/java_img.gif) no-repeat left center; padding:10px; height:42px; margin:0 10px; text-indent:40px;}
.slider h2 { color:#FFF; font:bold 20px Tahoma, Geneva, sans-serif; margin:0; padding:0; border:0;}
.slider p { color:#FFF; font:normal 11px Tahoma, Geneva, sans-serif; margin:0; padding:0; border:0;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}