@charset "utf-8";
/* CSS Document */
#wrapper-app #main {padding-bottom:100px;}

.nav-section {
	border: 7px solid #999;
	height: 100px;
	width: 225px;
	float: left;
	margin: 0 20px 20px 20px;
}
.nav-section:hover {
	border: 7px solid #666;
	cursor:pointer;
	text-decoration: none!important;
}
.nav-section:hover h4{color:#6EAC2C!important;}
.nav-section h4 {margin:7px;}
.nav-section h4 span{margin:3px 5px 0 0;}