
p { color:#8d8d8d;padding:0 10px;}
.nav-section {
	border: 7px solid #999;
	height: 100px;
	width: 225px;
	float: left;
	margin: 0 20px 20px 20px;
}
.nav-section:hover {
	border: 7px solid #666;
	cursor:pointer;
	text-decoration: none!important;
}
.nav-section:hover h4{color:#6EAC2C!important;}
.nav-section h4 {margin:7px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.nav-section h4 span{margin:3px 5px 0 0;}
.nav-section h4.underline {color:#2c2c2c;border-bottom:1px solid #cccccc;padding-bottom:7px;}
.nav-section img {display:block;margin:0 auto;}

.cmsicon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:block;
	float:left;
}
.center {
	margin: 0 auto;
	text-align: center;
}